################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/XLObjectDropper/obj/Debug
/XLObjectDropper/bin/Debug
/XLObjectDropper/References
/XLObjectDropper/bin/Release
/XLObjectDropper/obj/Release
/XLObjectDropper.UI/bin/Debug
/XLObjectDropper.UI/bin/Release
/XLObjectDropper.UI/obj
/McBtay Unity/Assets/Assembly/XLObjectDropper.UI.pdb
/packages
*.meta
XLObjectDropper.Spawnables/Assets/AusBundle.meta
/XLObjectDropper.SpawnableScripts/obj/Debug
/XLObjectDropper.SpawnableScripts/bin/Debug
